

*,*:before,*:after{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

table{
    background-color:   #ffcc99;
    padding: 0.5em;
    margin: 1rem;
    /*border-collapse: collapse;*/
        
}

td{
    border:  grey solid thin;
    padding: 5px;
}